@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
body{
    font-family: 'Nunito', sans-serif;
    line-height: 2rem;
    height: auto;
}
.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    min-width: 53.5%;
    margin: 2rem ;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;   
    background: linear-gradient(45deg, #394867,#212A3E,#394867,#F1F6F9);
    color: #dbdbdb;
    text-shadow: 5px 5px 24px rgb(0, 0, 0);
    border-radius: 15px;
}
@media (min-width:577px)and(max-width:768px) {
    .Card{
        height: 100%;
        width: 100;
    }
}
.CityName{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    
}
.temp{
    font-size: 48px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}
.Humidity{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

