@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
body{
    background-color: #e8bcb9;
    height: 100vh;

}
.form-container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    flex-direction: column;
    height: 100vh
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-top: 5%; */
    /* margin-left: 25%; */
    backdrop-filter: blur(15px); /* Adjust the blur amount as needed */
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 50%;
    width: 50%;
    padding: 3rem;
    border-radius: 50px;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -24px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
@media (min-width: 576px) and (max-width: 769px){
.form{
    height: 200px !important ;
}
.form input{
    height: 10px;
}
}
@media (min-width: 769px) and (max-width: 992px) {
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 12%; */
    height: 30%;
}
}
.form label{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 3rem;
}
.form input{
    width: 100% ;
    height: 40px;
    background-color: rgb(232, 232, 232)  ;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -24px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
.form button{
    background-color: transparent;
    height: 3em;
    width: 10em;
}
.No-data{
    text-align: center;
    margin-top: 5rem;
}