@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
body{
    background:linear-gradient(45deg);
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-left: 37%;
    backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 500px;
    width: 500px;
    padding: 3rem;
    border-radius: 50px;
    color: #fff;
}
.form label{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 3rem;
}
.form input{
    width: 500px ;
    height: 40px;
    background-color: rgb(232, 232, 232)  ;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;

}
.No-data{
    text-align: center;
    margin-top: 5rem;
}